<ngx-section class="shadow builder" sectionTitle="Builder Demo">
  <div fxLayout="row" style="height:500px" ngxSplit="row">
    <div  class="builder-source" fxFlex="20%">
      <ngx-section
        *ngFor="let section of sourceBuilderSections"
        class="shadow builder-tools"
        [sectionTitle]="section.name"
        [padding]="0">
        <ngx-dnd-container
          [model]="section.tools"
          [dropZones]="['builder-target']"
          [copy]="true"
          [droppableItemClass]="droppableItemClass"
          (drag)="builderDrag($event)">
          <ng-template let-item="model">
            <ngx-icon [fontIcon]="item.icon"></ngx-icon>
            {{item.name}}
          </ng-template>
        </ngx-dnd-container>
      </ngx-section>
    </div>
    <div class="builder-target" fxFlex="80%" ngxSplitArea [minAreaPct]="30">
      <ngx-dnd-container
        class="root-container"
        [model]="targetBuilderTools"
        dropZone="builder-target"
        [removeOnSpill]="true"
        [droppableItemClass]="droppableItemClass"
        (drag)="log($event)"
        (drop)="log($event)"
        (over)="log($event)"
        (out)="log($event)"
        (remove)="log($event)">
        <ng-template let-model="model" let-template="template">
          <ng-container [ngSwitch]="model.inputType">
            <ng-container *ngSwitchCase="'section'">
                <ngx-section class="shadow" class="layout" padding="0">
                  <ngx-section-header ngxDragHandle>
                    {{model.name}}
                  </ngx-section-header>
                  <ngx-dnd-container
                    dropZone="builder-target"
                    [model]="model.children"
                    [removeOnSpill]="true"
                    [template]="template"
                    [droppableItemClass]="droppableItemClass"
                    (drag)="log($event)"
                    (drop)="log($event)"
                    (over)="log($event)"
                    (out)="log($event)"
                    (remove)="log($event)">
                  </ngx-dnd-container>
                </ngx-section>
            </ng-container>
            <div *ngSwitchCase="'tab'" class="layout">
              <div class="tab-toolbar">
                <button class="btn btn-link" (click)="addTab(model.tabs)">Add Tab</button>
              </div>
              <ngx-tabs>
                <ngx-tab 
                  *ngFor="let tab of model.tabs" 
                  [active]="tab.active" 
                  [title]="tab.name">
                  <ngx-dnd-container
                    dropZone="builder-target"
                    [model]="tab.children"
                    [removeOnSpill]="true"
                    [template]="template"
                    [droppableItemClass]="droppableItemClass"
                    (drag)="log($event)"
                    (drop)="log($event)"
                    (over)="log($event)"
                    (out)="log($event)"
                    (remove)="log($event)"
                    (cancel)="log($event)">
                  </ngx-dnd-container>
                </ngx-tab>
              </ngx-tabs>
            </div>
            <div *ngSwitchDefault class="field" [class]="model.inputType">
              <span ngxDragHandle>
                <ngx-icon [fontIcon]="model.icon"></ngx-icon>
                {{model.name}}
              </span>
              <span class="field-tools pull-right">
                <i ngxSplitHandle
                  (drag)="onDrag(model, $event)"
                  (dragStart)="onDragStart(model, $event)"
                  (dragEnd)="onDragEnd(model, $event)"></i>
              </span>
            </div>
          </ng-container>
        </ng-template>
      </ngx-dnd-container>
    </div>
    <div fxFlex="15px" ngxSplitHandle></div>
    <div fxFlex="20%" ngxSplitArea [maxAreaPct]="70">
      <h3>Model</h3>
      <pre><code>{{targetBuilderTools | json}}</code></pre>
    </div>
  </div>
</ngx-section>
