/**
  * Backgrounds
  */
$color-bg-darkest: #13141b;
$color-bg-darker: #1b1e27;
$color-bg-dark: #232837;
$color-bg-med: #2f3646;
$color-bg-light: #455066;
$color-bg-lighter: #5b6882;

/**
  * Text
  */
$color-text-dark: #72809b;
$color-text-med-dark: #919db5;
$color-text-med: #a8b2c7;
$color-text-med-light: #d9dce1;
$color-text-light: #f0f1f6;
$color-text-lighter: #fff;

html, body {
  margin: 10px;
  padding: 0;
  height: 100%;
  background: $color-bg-darker;
  color: $color-text-med;
}

body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  min-height: 100vh;
  color: $color-text-med;
}

* {
  box-sizing: border-box;
}

.main {
  justify-content: center;

  .CodeMirror {
    height: 250px;
  }
}

.light {
  background: #fff;
}

.dark {
  background: $color-bg-darker;

  .ngx-charts {

    text {
      fill: $color-text-med;
    }

    .tooltip-anchor {
      fill: rgb(255,255,255);
    }

    .gridline-path {
      stroke: $color-bg-med;
    }

    .grid-panel {
      &.odd {
        rect {
          fill: rgba(255,255,255,0.05);
        }
      }
    }

    .force-directed-graph {
      .edge {
        stroke: $color-bg-light;
      }
    }

    .number-card {
      p {
        color: $color-text-light;
      }
    }

    .gauge {
      .background-arc{
        path {
          fill: $color-bg-med;
        }
      }

      .gauge-tick {
        path {
          stroke: $color-text-med;
        }
        text {
          fill: $color-text-med;
        }
      }
    }

    .linear-gauge {
      .background-bar {
        path {
          fill: $color-bg-med;
        }
      }

      .units {
        fill: $color-text-dark;
      }
    }

    .timeline {
      .brush-background {
        fill: rgba(255,255,255,0.05);
      }

      .brush {
        .selection {
          fill: rgba(255, 255, 255, 0.1);
          stroke: #aaa;
        }
      }
    }

    .polar-chart .polar-chart-background {
      fill: rgb(30, 34, 46);
    }

  }

  .chart-legend {
    .legend-labels {
      background: rgba(255,255,255,0.05) !important;
    }

    .legend-item {
      &:hover {
        color: #fff;
      }
    }

    .legend-label {
      &:hover {
        color: #fff !important;
      }

      .active {
        .legend-label-text {
          color: #fff !important;
        }
      }
    }

    .scale-legend-label {
      color: $color-text-med;
    }
  }

  .advanced-pie-legend {
    color: $color-text-med;

    .legend-item {
      &:hover {
        color: #fff !important;
      }
    }
  }

  .number-card .number-card-label {
    font-size: 0.8em;
    color: $color-text-med;
  }
}

$color-text-dark: #72809b;

/**
 * Header
 */
.style-header {
  text-transform: uppercase;
  color: $color-text-dark;
  font-size: 1rem;
  position: relative;
  padding-bottom: 5px;
  margin: 20px 0;
  font-weight: 600;

  &:after {
    content: "";
    width: 25px;
    height: 1px;
    background: $color-text-dark;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.viz-container {
  position: relative;
  display: flow-root;
  min-height: 600px;
}

svg.ngx-charts {
  float: left;
  overflow: visible;
}

.ngx-charts-outer {
  display: flow-root;
  position: relative;
}

.pull-right {
  float: right;
}

.color-scale {
  text-align: center;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  li {
    margin: 3px;
    border-radius: 3px;
  }
}