<h1>ngx-chart builder
  <small class="pull-right">
    <button class="btn btn-primary" (click)="clearAll()">Reset</button>
    <a href="https://github.com/swimlane/ngx-charts-builder" class="btn btn-default">Github</a>
  </small>
</h1>

<div class="main">
  <ngx-section class="shadow dark" sectionTitle="Your Data">
    <span>
      Copy and paste your tabular (TSV, CSV) data here.
      <button class="btn btn-link" (click)="useExample()">(Use example data)</button>
    </span>
    <ngx-codemirror
      [(ngModel)]="dataText"
      [config]="editorConfig">
    </ngx-codemirror>
    <p *ngIf="dataText.length > 1">
      <span *ngFor="let error of errors" class="text-red">
        <span *ngIf="error.row">Row {{error.row + 2}}: </span>{{error.message}} <br />
      </span>
      <span *ngIf="!errors.length" class="text-green">
        {{rawData.length}} records have been successfully parsed!
      </span>
    </p>
  </ngx-section>

  <ngx-section class="shadow dark" sectionTitle="Select your Chart"
    [sectionCollapsible]="hasValidData"
    [sectionCollapsed]="!hasValidData">
    <ngx-select [filterable]="false" label="Chart Type" [ngModel]="[chartType]" (change)="chartType = $event[0]">
      <ngx-select-option *ngFor="let chart of chartTypes" [name]="chart.title" [value]="chart">
      </ngx-select-option>
    </ngx-select>
  </ngx-section>

  <ngx-section class="shadow dark" sectionTitle="Map your Dimensions"
    [sectionCollapsible]="hasChartSelected"
    [sectionCollapsed]="!hasChartSelected">
    <div *ngIf="hasChartSelected">
      <ngx-select
        *ngIf="chartType && hasValidData"
        [filterable]="false"
        [label]="chartType.dimLabels[0]"
        [ngModel]="[dataDims[0]]"
        (change)="dataDims[0] = $event[0]; processData()">
        <ngx-select-option *ngFor="let field of headerValues"
          [name]="field"
          [value]="field.name">
          <ng-template ngx-select-option-input-template ngx-select-option-template let-option="option">
            {{option.name.name}} <small>{{option.name.type}}</small>
          </ng-template>
        </ngx-select-option>
      </ngx-select>

      <ngx-select
        [filterable]="false"
        [label]="chartType.dimLabels[1]"
        [ngModel]="[dataDims[1]]"
        (change)="dataDims[1] = $event[0]; processData()">
        <ngx-select-option *ngFor="let field of headerValues"
          [name]="field"
          [value]="field.name">
          <ng-template ngx-select-option-input-template ngx-select-option-template let-option="option">
            {{option.name.name}} <small>{{option.name.type}}</small>
          </ng-template>
        </ngx-select-option>
      </ngx-select>

      <ngx-select
        [filterable]="false"
        [label]="chartType.dimLabels[2]"
        [ngModel]="[dataDims[2]]"
        (change)="dataDims[2] = $event[0]; processData()">
        <ngx-select-option *ngFor="let field of headerValues"
          [name]="field"
          [value]="field.name">
          <ng-template ngx-select-option-input-template ngx-select-option-template let-option="option">
            {{option.name.name}} <small>{{option.name.type}}</small>
          </ng-template>
        </ngx-select-option>
      </ngx-select>

      <ngx-select
        *ngIf="chartType.dimLabels[3]"
        [filterable]="false"
        [label]="chartType.dimLabels[3]"
        [ngModel]="[dataDims[3]]"
        (change)="dataDims[3] = $event[0]; processData()">
        <ngx-select-option *ngFor="let field of headerValues"
          [name]="field"
          [value]="field.name">
          <ng-template ngx-select-option-input-template ngx-select-option-template let-option="option">
            {{option.name.name}} <small>{{option.name.type}}</small>
          </ng-template>
        </ngx-select-option>
      </ngx-select>
    </div>
  </ngx-section>

  <ngx-section class="shadow" [class]="theme" sectionTitle="Your Visualization"
    [sectionCollapsible]="hasValidDimensions"
    [sectionCollapsed]="!hasValidDimensions">
    <div *ngIf="hasValidDimensions" class="viz-container">
      <ngx-charts-bar-vertical-2d
        *ngIf="chartType.name === 'bar-vertical-2d'"
        class="chart-container"
        [view]="chartOptions.view"
        [scheme]="chartOptions.colorScheme"
        [schemeType]="chartOptions.schemeType"
        [results]="data"
        [gradient]="chartOptions.gradient"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [legend]="chartOptions.showLegend"
        [legendTitle]="chartOptions.legendTitle"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [tooltipDisabled]="chartOptions.tooltipDisabled"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        [showGridLines]="chartOptions.showGridLines"
        xxxbarPadding="chartOptions.barPadding"
        xxxgroupPadding="chartOptions.groupPadding"
        [roundDomains]="chartOptions.roundDomains">
      </ngx-charts-bar-vertical-2d>
      <ngx-charts-bar-horizontal-2d
        *ngIf="chartType.name === 'bar-horizontal-2d'"
        class="chart-container"
        [view]="chartOptions.view"
        [scheme]="chartOptions.colorScheme"
        [schemeType]="chartOptions.schemeType"
        [results]="data"
        [gradient]="chartOptions.gradient"
        [tooltipDisabled]="chartOptions.tooltipDisabled"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [legend]="chartOptions.showLegend"
        [legendTitle]="chartOptions.legendTitle"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        [showGridLines]="chartOptions.showGridLines"
        [roundDomains]="chartOptions.roundDomains">
      </ngx-charts-bar-horizontal-2d>
      <ngx-charts-bar-vertical-stacked
        *ngIf="chartType.name === 'bar-vertical-stacked'"
        class="chart-container"
        [view]="chartOptions.view"
        [scheme]="chartOptions.colorScheme"
        [schemeType]="chartOptions.schemeType"
        [results]="data"
        [gradient]="chartOptions.gradient"
        [tooltipDisabled]="chartOptions.tooltipDisabled"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [legend]="chartOptions.showLegend"
        [legendTitle]="chartOptions.legendTitle"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        [showGridLines]="chartOptions.showGridLines"
        [roundDomains]="chartOptions.roundDomains">
      </ngx-charts-bar-vertical-stacked>
      <ngx-charts-bar-horizontal-stacked
        *ngIf="chartType.name === 'bar-horizontal-stacked'"
        class="chart-container"
        [view]="chartOptions.view"
        [scheme]="chartOptions.colorScheme"
        [schemeType]="chartOptions.schemeType"
        [results]="data"
        [gradient]="chartOptions.gradient"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [legend]="chartOptions.showLegend"
        [legendTitle]="chartOptions.legendTitle"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        [showGridLines]="chartOptions.showGridLines"
        [roundDomains]="chartOptions.roundDomains">
      </ngx-charts-bar-horizontal-stacked>
      <ngx-charts-bar-vertical-normalized
        *ngIf="chartType.name === 'bar-vertical-normalized'"
        class="chart-container"
        [view]="chartOptions.view"
        [scheme]="chartOptions.colorScheme"
        [schemeType]="chartOptions.schemeType"
        [results]="data"
        [gradient]="chartOptions.gradient"
        [tooltipDisabled]="chartOptions.tooltipDisabled"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [legend]="chartOptions.showLegend"
        [legendTitle]="chartOptions.legendTitle"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        [showGridLines]="chartOptions.showGridLines"
        [roundDomains]="chartOptions.roundDomains">
      </ngx-charts-bar-vertical-normalized>
      <ngx-charts-bar-horizontal-normalized
        *ngIf="chartType.name === 'bar-horizontal-normalized'"
        class="chart-container"
        [view]="chartOptions.view"
        [scheme]="chartOptions.colorScheme"
        [schemeType]="chartOptions.schemeType"
        [results]="data"
        [gradient]="chartOptions.gradient"
        [tooltipDisabled]="chartOptions.tooltipDisabled"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [legend]="chartOptions.showLegend"
        [legendTitle]="chartOptions.legendTitle"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        [showGridLines]="chartOptions.showGridLines"
        [roundDomains]="chartOptions.roundDomains">
      </ngx-charts-bar-horizontal-normalized>
      <ngx-charts-polar-chart
        *ngIf="chartType.name === 'polar-chart'"
        [view]="chartOptions.view"
        class="chart-container"
        [scheme]="chartOptions.colorScheme"
        [schemeType]="chartOptions.schemeType"
        [results]="data"
        [legend]="chartOptions.showLegend"
        [legendTitle]="chartOptions.legendTitle"
        [gradient]="chartOptions.gradient"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        [autoScale]="chartOptions.autoScale"
        [showGridLines]="chartOptions.showGridLines"
        [rangeFillOpacity]="chartOptions.rangeFillOpacity"
        [roundDomains]="chartOptions.roundDomains"
        [tooltipDisabled]="chartOptions.tooltipDisabled"
        [curve]="chartOptions.curveClosed"
        [showSeriesOnHover]="chartOptions.showSeriesOnHover">
      </ngx-charts-polar-chart>
      <ngx-charts-line-chart
        *ngIf="chartType.name === 'line-chart'"
        [view]="chartOptions.view"
        class="chart-container"
        [scheme]="chartOptions.colorScheme"
        [schemeType]="chartOptions.schemeType"
        [results]="data"
        [legend]="chartOptions.showLegend"
        [legendTitle]="chartOptions.legendTitle"
        [gradient]="chartOptions.gradient"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        [autoScale]="chartOptions.autoScale"
        [showGridLines]="chartOptions.showGridLines"
        [curve]="chartOptions.curve"
        [rangeFillOpacity]="chartOptions.rangeFillOpacity"
        [roundDomains]="chartOptions.roundDomains"
        [tooltipDisabled]="chartOptions.tooltipDisabled"
        [showSeriesOnHover]="chartOptions.showSeriesOnHover">
      </ngx-charts-line-chart>
      <ngx-charts-heat-map
        *ngIf="chartType.name === 'heat-map'"
        class="chart-container"
        [view]="chartOptions.view"
        [scheme]="chartOptions.colorScheme"
        [results]="data"
        [legend]="chartOptions.showLegend"
        [gradient]="chartOptions.gradient"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        xxxinnerPadding="chartOptions.innerPadding"
        [tooltipDisabled]="chartOptions.tooltipDisabled">
      </ngx-charts-heat-map>
      <ngx-charts-bubble-chart
        *ngIf="chartType.name === 'bubble-chart'"
        [view]="chartOptions.view"
        class="chart-container"
        [results]="data"
        [showGridLines]="chartOptions.showGridLines"
        [legend]="chartOptions.showLegend"
        [legendTitle]="chartOptions.legendTitle"
        [xAxis]="chartOptions.showXAxis"
        [yAxis]="chartOptions.showYAxis"
        [showXAxisLabel]="chartOptions.showXAxisLabel"
        [showYAxisLabel]="chartOptions.showYAxisLabel"
        [xAxisLabel]="chartOptions.xAxisLabel"
        [yAxisLabel]="chartOptions.yAxisLabel"
        [autoScale]="chartOptions.autoScale"
        [scheme]="chartOptions.colorScheme"
        [schemeType]="chartOptions.schemeType"
        [roundDomains]="chartOptions.roundDomains"
        [tooltipDisabled]="chartOptions.tooltipDisabled"
        [minRadius]="3"
        [maxRadius]="20">
      </ngx-charts-bubble-chart>
    </div>
    Download: 
    <ngx-button (click)="svgSaver.asSvg()">SVG</ngx-button>
    <ngx-button (click)="svgSaver.asPng()">PNG</ngx-button>
  </ngx-section>

  <ngx-section class="shadow dark" sectionTitle="Customize your Visualization"
    [sectionCollapsible]="hasValidDimensions"
    [sectionCollapsed]="!hasValidDimensions">

    <ngx-select
      [filterable]="false"
      label="Theme"
      [allowClear]="false"
      [ngModel]="[theme]"
      (change)="theme = $event[0]">
      <ngx-select-option *ngFor="let theme of ['light', 'dark']"
        [name]="theme"
        [value]="theme">
      </ngx-select-option>
    </ngx-select>

    <ngx-toggle type="checkbox" [(ngModel)]="chartOptions.showLegend" label="Show Legend">
    </ngx-toggle>
    <ngx-input type="text" [(ngModel)]="chartOptions.legendTitle" label="Legend Title"></ngx-input>
    <ngx-input type="text" [(ngModel)]="chartOptions.xAxisLabel" label="X Axis Label"></ngx-input>
    <ngx-input type="text" [(ngModel)]="chartOptions.yAxisLabel" label="Y Axis Label"></ngx-input>
  </ngx-section>
</div>
